<p id="notice"><%= notice %></p>

<!--<script src="jquery-2.1.1.js" language="javascript"></script>-->

<h1>Listing Articles</h1>

<% if logged_in? %>
    <%= link_to 'Subscribe', create_author_subscriber_path, class: [:sbtn, :btn]  %>
<% else %>
    <%= link_to 'Subscribe', new_subscriber_path , class: [:sbtn, :btn]  %>
<% end %>

<table class="table-hover">
<!--<table class="table table-hover">-->
  <thead>
    <tr>
      <th>Author</th>
      <th>Title</th>
      <th>Body</th>
      <!--<th colspan="1"></th>-->
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr data-link="<%= article_path(article)%>">
        <td><%= Author.find(article.author_id).name %></td>
        <td><%= article.title %></td>
        <td><%= article.body.slice(0,100) %></td>
        <td><%=link_to 'Show', article_path(article)  %></td>

        <!--<tr <%=  link_to article_path(article), :remote => true %>>-->
        <!--<td><%= article.author_id %></td>-->
        <!--<td><%= link_to 'Show', article %></td>-->
        <!--<td><%= link_to 'Edit', edit_article_path(article) %></td>-->
        <!--<td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->

      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br/>

<%= link_to 'Home page', welcome_path, class: [:sbtn, :btn]  %> |
<% if logged_in? %>
    <%= link_to 'New Article', new_article_path, class: [:sbtn, :btn]  %>

    <%= link_to "Logout", logout_path, class: [:sbtn, :btn] %>
    <br>
    <%= "Logged in as Author #{current_user.email}" %>

<% else %>
    <!--Logged out-->
    <%= link_to "Login", login_path, class: [:sbtn, :btn] %>
<% end %>



