
<!--<p id="notice"><%= notice %></p>-->

<h3>
  <strong>Author:</strong>
  <%= @author_name %>

</h3>

<h3>
  <strong>Title:</strong>
  <%= @article.title %>
</h3>

<h3>
  <strong>Body:</strong>
  <%= @article.content.html_safe %>

</h3>
<%= link_to 'Back', articles_path, class: [:sbtn, :btn] %> |

<% if @author_name == @current_user_name %>
  <%= link_to 'Edit', edit_article_path(@article), class: [:sbtn, :btn] %> |
<% end %>
<br/>
<p>Comments (<%= @article.comments.size %>)</p>
<%= render partial: 'articles/comment', collection: @article.comments  %>
<%= render partial: 'comments/form_to_add_comment' %>


