<h3>
  <strong>Author:</strong>
  <%= @author_name %>

</h3>

<h3>
  <strong>Title:</strong>
  <%= @article.title %>
</h3>
<h3>
  <strong>Tag_list:</strong>
  <%= @article.tag_list %>
</h3>


<h3>
  <strong>Body:</strong>
  <%= @article.content.html_safe %>

</h3>
<br/>

<%= link_to 'Back to articles', articles_path, class: [:sbtn, :btn] %>
<% if @author_name == @current_user_name %>
<%= link_to 'Edit', edit_article_path(@article), class: [:sbtn, :btn] %>
<br/>

<% end %>
<br/>
<br/>
<br/>

<%= render partial: 'articles/comment', collection: @article.comments.order(:created_at).reverse  %>
<p>Comments (<%= @article.comments.size %>)</p>
<%= render partial: 'comments/form_to_add_comment' %>


