<div class='container'>
  <h1>Join our designing and recreative blog!</h1>
  <h2>Share your ideas and explore other variants</h2>
  <h2>Our mission - to unite people all over the world</h2>
  <% if logged_in? %>
      <%= "Logged in as Author #{current_user.email}" %>
      <%= link_to 'Read articles', articles_path , class: [:sbtn, :btn]  %>
      <%= link_to "Logout", logout_path, class: [:sbtn, :btn] %>

  <% else %>
      <!--Logged out-->
      <%= link_to'Sign up', new_author_path , class: [:sbtn, :btn] %>
      <%= link_to "Login", login_path, class: [:sbtn, :btn] %>
      <%= link_to 'Read articles', articles_path , class: [:sbtn, :btn]  %>
<% end %>

  <!--<%= link_to 'Read all articles', articles_path , class: [:sbtn, :btn]  %>-->

</div>
