<p id="notice"><%= notice %></p>
<br/>
<br/>

<p>
  <strong>Name:</strong>
  <%= @subscriber.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @subscriber.email %>
</p>
<br/>
<br/>

<%= link_to 'Cancel', welcome_path, class: [:sbtn, :btn] %>
<%= link_to 'Unsubscribe', @subscriber, method: :delete,  class: [:sbtn, :btn], data: { confirm: 'Are you sure?' } %>
