<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "BloGNote" %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

      <p class="flash">
        <%= flash.notice %>
      </p>
      <div id="container">
        <div id="content">
          <%= yield %>
          <hr>
          <h6>
            <% if logged_in? %>

                <%= link_to "Logout", logout_path, class: [:sbtn, :btn] %>
                <br>
                <%= "Logged in as Author #{current_user.email}" %>

            <% else %>
                <!--Logged out-->
                <%= link_to "Login", login_path, class: [:sbtn, :btn] %>
            <% end %>
          </h6>
        </div>
      </div>

      <!--<footer>-->
        <!--<p>&copy; Company 2015</p>-->
      <!--</footer>-->



  </body>
</html>
